* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	color: var(--black);
	background-color: #F5F6F8;
}

:root {
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--green: #1DC37E;
	--silver: #E2E2E2;
	--red: #DE0000;
	--orange: #FC836D;
	--light-green: #C8F8E4;
	--silver-label: #C8F8E4;
	--font-family: font-family: 'Noto Sans KR', sans-serif;
}